.container-fluid {
	border: 2px solid red;
	
	
}

.page-header {
	border: 2px solid green;
	
}

.jumbotron {
	border: 2px solid blue;
	
}

.outer-div {
	border: 2px solid black;
}

.inner-div {
	border: 2px solid green;
}
.card {
	border: 2px solid pink;
}

.navbar-brand {
	cursor: auto;
}
 
.jumbotron {
	margin-top: 50px;
	padding: 0;
	margin-bottom: 0px;
}

.card {
	margin: 4px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.bigpixi-footer-social {
    margin-left: auto;
    margin-top: 8px;
}

.bigpixi-footer-social__list-item {
    display: inline-block;
    margin-left: 16px;
}
.bigpixi-footer__icon-link {
    display: inline-block;
    -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.bigpixi-footer-social__icon {
    display: inline-block;
    height: 32px;
    width: 32px;
}
.bigpixi-footer-social__icon:hover {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 1px solid #e2e2e2;
    padding: 2px;
    transition : .2s;
}

.outer-div {
	padding-top: 30px;
}
 .inner-div {
 	margin: 0 auto;
 	width: 350px;
 }


 img {
 	width: 100%;
 	
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}